.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tagCustom {
  display: inline-block;
  margin-top: 1em;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.homeButtonGroup {
  /* position: absolute;
  top: 2%;
  right: 5%; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.logo {
  width: 50px;
}

.productCard {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.productCard:hover {
  box-shadow: #285b72 0px 3px 6px, #285b72 0px 3px 6px;
}
